services:
  template-rust:
    build: .
    healthcheck:
      test: [CMD, /bin/httpcheck, http://127.0.0.1:8000/health]
      interval: 1m
      retries: 3
      timeout: 10s
      start_period: 1m
    ports:
      - 127.0.0.1:8000:8000/tcp
    environment:
      SERVICE_DSN: postgres://postgres:postgres@postgres:5432/postgres

  postgres:
    image: postgres@sha256:5ec39c188013123927f30a006987c6b0e20f3ef2b54b140dfa96dac6844d883f
    healthcheck:
      test: [CMD, pg_isready, -U, postgres]
      interval: 1m
      retries: 3
      timeout: 10s
      start_period: 1m
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
